<nav class="main-nav">
    <div>
        <a href="/" class="logo">📚</div></a>
        <a href="/book">All Books</a>
        <a href="/category">All Categories</a>
        <a href="/author">All Authors</a>
    </div>
    <form id="search-form" method="GET" action="/book">
        <input type="text" name="search" value="<%= locals.search %>">
    </form>
</nav>